<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rho"
        tools:targetApi="31" >

        <activity
            android:name=".InitActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MasterActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="MasterActivity" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <activity
            android:name=".CardActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="CardActivity" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <activity
            android:name=".SetupActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="SetupActivity" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <activity
            android:name=".UserActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="UserActivity" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <activity
            android:name=".AuthActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="AuthActivity" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <activity
            android:name=".AddCards"
            android:exported="true">

            <intent-filter>

                <action android:name="AddCards" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <!--
        <service
            android:name=".NfcApdu"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">

            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apdu_service" />

        </service>
        -->
    </application>

</manifest>